extends layout

append scripts
  script
    var appName = "#{appId}";
  script(src='/javascripts/application.js')

append content
  p looking at application #{appId}
  div.content
    div.graph-box
      h2 Age Demographics
      div.ages
    div.graph-box
      h2 Gender Demographics
      div.genders
    div.graph-box
      h2 Location Demographics
      div.locations