!!!
html
  head
    block styles 
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/testPie.css')
    block scripts
      script(src='/javascripts/jquery-1.8.2.js')
      script(src='/javascripts/d3.v2.js')
      script(src='/javascripts/testPie.js')
    title= title
  body
    header
      div.center-logo
        a.logo(href='/') Singlytics
    div.container
      h1 Dashboard
      block content